Release:
  runs-on: ubuntu-latest
  needs: build
  steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Download all artifacts
      uses: actions/download-artifact@v4   # 默认下载到工作目录根

    - name: Display structure of downloaded files
      run: ls -R .   # 查看根目录下的子目录

    - name: Release
      uses: ncipollo/release-action@v1
      with:
        name: ${{ github.event.inputs.version }}
        tag: ${{ github.event.inputs.version }}
        body: ${{ github.event.inputs.version }}
        token: ${{ secrets.GITHUB_TOKEN }}
        makeLatest: ${{ github.event.inputs.latest }}
        prerelease: ${{ github.event.inputs.prerelease }}
        allowUpdates: true
        artifacts: |
          farm-win-x64/qq-farm-bot-win-x64.exe,
          farm-linux-x64/qq-farm-bot-linux-x64,
          farm-mac-x64/qq-farm-bot-macos-x64,
          farm-mac-arm64/qq-farm-bot-macos-arm64
